<ion-view title="bookingS2 page" id= booking2ID>
 <div class="col-xs-12" style="height:20px"></div>

 <div class="bar bar-subheader bar-assertive">
   <h2 class="title">Stage 2</h2>
</div>


  <body ng-controller="MyCtrl as ctrl">
 <div>

 	<h1> Flights from *** to *** on *** class ***</h1>
 </div>
    <ion-content class="paddng has-subheader">
                  <div class="row header">
               
                       <div class="col">#</div>
                       <div class="col">Airline</div>
                       <div class="col">Flight Number</div>
                       <div class="col">Aircraft Type</div>
                       <div class="col">Aircraft Model</div>
                       <div class="col">Capacity</div>
                       <div class="col">Departure Date</div>
                       <div class="col">Duration</div>
                       <div class="col">Class</div>
                       <div class="col">account</div>
                
              
                </div>
        <div class="row" ng-repeat="data in ctrl.data">
          <div class="col"><button class="button" ng-click="ctrl.add($index)">Add</button></div>
          <div class="col">{{data.Airline}}</div>
          <div class="col">{{data.Flight Number}}</div>
          <div class="col">{{data.Aircraft Type}}</div>
          <div class="col">{{data.Aircraft Model}}</div>
          <div class="col">{{data.Capacity}}</div>
          <div class="col">{{data.Departure Date}}</div>
          <div class="col">{{data.Duration}}</div>
          <div class="col">{{data.Class}}</div>
          <div class="col">{{data.account}}</div>

        </div>

                   <div>
 	                <h2> Flights from *** to *** on *** class ***</h2>
                  </div>  


                <div class="row header">
                      <div class="col">#</div>
                      <div class="col">Airline</div>
                      <div class="col">Flight Number</div>
                      <div class="col">Aircraft Type</div>
                      <div class="col">Aircraft Model</div>
                      <div class="col">Capacity</div>
                      <div class="col">Departure Date</div>
                      <div class="col">Duration</div>
                      <div class="col">Cost</div>
                   
                    </div>
              <div class="row" ng-repeat="data in ctrl.data2">
          <div class="col"><button class="button" ng-click="ctrl.add($index)">Add</button></div>
          <div class="col">{{data.Airline}}</div>
          <div class="col">{{data.Flight Number}}</div>
          <div class="col">{{data.Aircraft Type}}</div>
          <div class="col">{{data.Aircraft Model}}</div>
          <div class="col">{{data.Capacity}}</div>
          <div class="col">{{data.Departure Date}}</div>
          <div class="col">{{data.Duration}}</div>
          <div class="col">{{data.Class}}</div>
          <div class="col">{{data.account}}</div>

        </div>
        
       <div>
         <button type="submit" class="btn btn-primary" id='btnSearch'>Continue</button>
         </div>

    </ion-content>

   
  </body>

</ion-view>