<ion-view title="bookingS2 page">
 <div class="col-xs-12" style="height:20px"></div>
 <div>
 	<h1> Flights from *** to *** on *** class ***</h1>
 </div>
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Airline</th>
                      <th>Flight Number</th>
                      <th>Aircraft Type</th>
                      <th>Aircraft Model</th>
                      <th>Capacity</th>
                      <th>Departure Date</th>
                      <th>Duration</th>
                      <th>Class</th>
                      <th>Cost</th>
                    </tr>
                  </thead>   
             
                </table>
                   <div>
 	<h2> Flights from *** to *** on *** class ***</h2>
 </div>  
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Airline</th>
                      <th>Flight Number</th>
                      <th>Aircraft Type</th>
                      <th>Aircraft Model</th>
                      <th>Capacity</th>
                      <th>Departure Date</th>
                      <th>Duration</th>
                      <th>Cost</th>
                    </tr>
                    </thead>
                    </table>