<ion-view title="Confirmation page" id="tab-confirmation">

 <ion-content padding="true" style="background: url(img/R3Pn0huTD6PIXTkbDbBt_swiss.jpg) no-repeat center;background-size:cover;" class="has-header">

 <div class="bar bar-header bar-assertive">

   <button class="button icon ion-navicon"></button>
      <h1  style="color:#000000"class="title">Confirm your details</h1>

   <button class="button icon ion-home"></button>
</div>
 <div>
	<h1>Outgoing flights</h1>
 </div>
    <ion-content>
                  <div class="row header">
               
                       <div class="col">Flight Number</div>
                       <div class="col">Aircraft</div>
                       <div class="col">Capacity</div>
                       <div class="col">Date</div>
                       <div class="col">Duration</div>
                       <div class="col">Available seats</div>
                       <div class="col">Price range</div>
                       </div>

                        <div class="row">
       
       
          <div class="col">{{flight.outFlight.flightNumber}</div>
          <div class="col">{{flight.outFlight.aircraft}}}</div>
          <div class="col">{{flight.outFlight.capacity}}</div>
          <div class="col">{{flight.outFlight.date | date : 'EEEE, MMMM d, y'}}</div>
          <div class="col">{{flight.outFlight.duration}</div>
          <div class="col">{{flight.outFlight.availableSeats}}</div>
          <div class="col">{{flight.outFlight.seatmap[0].cost | currency}} - {{flight.outFlight.seatmap[0].cost * 1.1 | currency}}</div>

        </div>

         <div>
	<h2>Returning flights</h2>
 </div>
    <ion-content>
                  <div class="row header">
               
                       <div class="col">Flight Number</div>
                       <div class="col">Aircraft</div>
                       <div class="col">Capacity</div>
                       <div class="col">Date</div>
                       <div class="col">Duration</div>
                       <div class="col">Available seats</div>
                       <div class="col">Price range</div>
                       </div>

                        <div class="row">
       
       
          <div class="col">{{flight.inFlight.flightNumber}</div>
          <div class="col">{{flight.inFlight.aircraft}}}</div>
          <div class="col">{{flight.inFlight.capacity}}</div>
          <div class="col">{{flight.inFlight.date | date : 'EEEE, MMMM d, y'}}</div>
          <div class="col">{{flight.inFlight.duration}</div>
          <div class="col">{{flight.inFlight.availableSeats}}</div>
          <div class="col">{{flight.inFlight.seatmap[0].cost | currency}} - {{flight.outFlight.seatmap[0].cost * 1.1 | currency}}</div>

        </div>
        
         <div class="form-group">
          <label for="fname">First Name:</label>
          <div class="row confirm">
              <h3 class="confirm-text">{{user.fname}}</h3>
          </div>
        </div>


        <div class="form-group">
          <label for="lname">Last Name:</label>
          <div class="row confirm">
              <h3 class="confirm-text">{{user.lname}}</h3>
          </div>
        </div>


        <div class="form-group">
          <label for="psprt">Passport Number:</label>
          <div class="row confirm">
              <h3 class="confirm-text">{{user.passport}}</h3>
          </div>
        </div>


        <div class="form-group">
          <label for="psprt">Passport Issue Date:</label>
          <div class="row confirm">
              <h3 class="confirm-text">{{user.passportIssueDate | date :'EEEE, MMMM d, y'}}</h3>
          </div>
        </div>


        <div class="form-group">
          <label for="psprt">Passport Expiry Date:</label>
          <div class="row confirm">
              <h3 class="confirm-text">{{user.passportExpiryDate | date :'EEEE, MMMM d, y'}}</h3>
          </div>
        </div>


        <div class="form-group">
          <label for="psprt">Credit Card Type:</label>
          <div class="row confirm">
              <h3 class="confirm-text">{{user.ccType}}</h3>
          </div>
        </div>


        <div class="form-group">
          <label for="psprt">Credit Card Number:</label>
          <div class="row confirm">
              <h3 class="confirm-text">{{user.ccNumber}}</h3>
          </div>
        </div>


        <div class="form-group">
          <label for="psprt">Credit Card Expiry Date:</label>
          <div class="row confirm">
              <h3 class="confirm-text">{{user.ccExpiryDate | date :'EEEE, MMMM d, y'}}</h3>
          </div>
        </div>


        <div class="form-group">
          <label for="psprt">Name on Credit Card:</label>
          <div class="row confirm">
              <h3 class="confirm-text">{{user.ccName}}</h3>
          </div>
        </div>


        <div class="form-group">
          <label for="psprt">Email:</label>
          <div class="row confirm">
              <h3 class="confirm-text">{{user.email}}</h3>
          </div>
        </div>


        <div class="form-group">
          <label for="psprt">Country:</label>
          <div class="row confirm">
              <h3 class="confirm-text">{{user.country}}</h3>
          </div>
        </div>


        <div class="form-group">
          <label for="psprt">Address 1:</label>
          <div class="row confirm">
              <h3 class="confirm-text">{{user.add1}}</h3>
          </div>
        </div>

        <div class="form-group">
          <label for="psprt">Address 2:</label>
          <div class="row confirm">
              <h3 class="confirm-text">{{user.add2}}</h3>
          </div>
        </div>


        <div class="form-group">
          <label for="psprt">State:</label>
          <div class="row confirm">
              <h3 class="confirm-text">{{user.state}}</h3>
          </div>
        </div>


        <div class="form-group">
          <label for="psprt">City:</label>
          <div class="row confirm">
              <h3 class="confirm-text">{{user.city}}</h3>
          </div>
        </div>


        <!-- <div class="well"> -->
          <label for="psprt">Contact Number:</label>
          <div class="row well" style="text-align:left">
              <h3 class="">{{user.contactNumber}}</h3>
          </div>
                

<button class="btn btn-primary" id='btnSearch' ng-disabled="user.button == 'true'" ng-click='EditInfo()'>
   Edit information
</button>
<br>
</br>

<label class="checkbox">
 All of my information is correct.
   <input type="checkbox" ng-model="checked">>
</label>
<br>
</br>


<button ng-model="user.button" ng-click="user.button='true'" class="btn btn-primary" ng-disabled="!checked || user.button == 'true'" id='btnSend'  >
   Send tickets
</button>
<br>
</br>


<label class="item item-input">
  <span class="input-label">Success! Thank you for your purchase. Your ticket will be e-mailed to you shortly.</span>
</label>
<br>
</br>


<label class="item item-input">
  <span class="input-label">Any comments?</span>
  <input type="text">
  <button class="btn btn-primary" id='btnSend'>
  Send
</button>
</label>
<br>
</br>

<button  ui-sref="tab.confirm"  class="button icon icon-left ion-home" ng-model="button" ng-show="user.button == 'true'"id='btnFinish' ng-click='GoToMain()'>
   Back to home
</button>
<br>
</br>

 </ion-content>

</ion-view>