<ion-view title="Book" id="tab-book">
    <ion-content padding="true" style="background: url(img/p1cRVqqDSGz8QJbR9OwA_swiss.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Origin</span>
              <select ng-model="orgAirport" ng-options="item.name for item in list">    
</select>
            </label>
            <label class="item item-select">
                <span class="input-label">Destination</span>
                          <select ng-model="destAirport" ng-options="item.name for item in list">    
</select>
            </label>
            <ion-toggle  ng-model = "otherAirlines" toggle-class="toggle-royal">Other AirLines</ion-toggle>

            <label class="item item-select">
                <span ng-model ="cls" class="input-label">Class</span>
                <select>
                    <option>Business</option>
                    <option>Economy</option>
                </select>
            </label>
                    <button ng-init-"twoWay = false" ng-click="twoWay = !twoWay"class="button button-light button-block">{{trip}}</button>
                    <label style="text-align: center;" class ="item label-block" ng-show ="!twoWay">One Way </label>
                     <label style="text-align: center;" class ="item label-block" ng-show ="twoWay">Round Trip </label>


        <label ng-hide=one class="item item-input">
  <span ng-model ="OutDate"class="input-label">Departure Date </span>
  <input type="date">
</label>

 <label class="item item-input">
  <span ng-model="inDate"ng-show ="twoWay" class="input-label">Arrival Date </span>
  <input type="date">
</label>

<button ng-click= "SearchFlights()" class="button button button-block">
      Submit
    </button>
        </form>



    </ion-content>
</ion-view>