<ion-view title="Confirmation page" id="tab-confirmation">

 <ion-content padding="true" style="background: url(img/R3Pn0huTD6PIXTkbDbBt_swiss.jpg) no-repeat center;background-size:cover;" class="has-header">

 <div class="bar bar-header bar-assertive">

   <button class="button icon ion-navicon"></button>
      <h1  style="color:#000000"class="title">Confirm your details</h1>

   <button class="button icon ion-home"></button>
</div>

<button class="btn btn-primary" id='btnSearch' ng-disabled="user.button == 'true'" ng-click='EditInfo()'>
   Edit information
</button>

<label class="checkbox">
 All of my information is correct.
   <input type="checkbox" ng-model="checked">>
</label>

<button ng-model="user.button" ng-click="user.button='true'" class="btn btn-primary" ng-disabled="!checked || user.button == 'true'" id='btnSend'  >
   Send tickets
</button>

<label class="item item-input">
  <span class="input-label">Success! Thank you for your purchase. Your ticket will be e-mailed to you shortly.</span>
</label>

<label class="item item-input">
  <span class="input-label">Any comments?</span>
  <input type="text">
  <button class="btn btn-primary" id='btnSend'>
  Send
</button>
</label>







<button class="button icon icon-left ion-home" ng-model="button" ng-show="user.button == 'true'"id='btnFinish' ng-click='GoToMain()'>
   Back to home
</button>
 </ion-content>

</ion-view>