<ion-view title="Home page" id="page3">
    <ion-content padding="true" style="background: url(img/R3Pn0huTD6PIXTkbDbBt_swiss.jpg) no-repeat center;background-size:cover;" class="has-header">
        <h1 id="homePage-heading1" style="color:#000000;text-align:center;">Swiss Air Lines</h1>
        <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;">
            <iframe src="https://www.youtube.com/embed/huFjrPXWOP0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
        </div>
        <button id="homePage-button2" style="font-weight:600;font-size:-1px;" class="button button-dark  button-block button-clear">Book a flight!</button>
        <div class="button-bar">
            <button id="homePage-button3" class="button button-dark  button-block button-outline">About us</button>
            <button id="homePage-button4" class="button button-dark  button-block button-outline">Contact</button>
        </div>
    </ion-content>
</ion-view>