<ion-view title="Payment page" id="tab-payment">

 <ion-content padding="true" style="background: url(/home/ezzo/Desktop/images.jpg) no-repeat center;background-size:cover;" class="has-header"
>

<div class="bar bar-header bar-assertive">

   <button class="button icon ion-navicon"></button>
      <h1  style="color:#000000"class="title">Swiss Airlines</h1>

   <button class="button icon ion-home"></button>
</div>



<form name ="userForm" novalidate>

<div class="list">


<!-- First name -->

 <label class="item item-input item-stacked-label">

 <span  class="input-label">First Name :- </span>

 <input type="text" name="fname" class="form-control" placeholder="Please enter your First Name here" ng-model="user.fname" required >

 <div class="padding">
 	 <p ng-show="userForm.fname.$error.$pristine" class="help-block"> *First Name is required</p>
 </div>

</label>

<!-- Last Name -->
 <label class="item item-input item-stacked-label">

 <span  class="input-label">Last Name :- </span>
 <input type="text" name="lname" class="form-control" placeholder="Please enter your Last Name here" ng-model="user.lname" required >
 </label>

<div class="padding">
 	 <p ng-show="userForm.lname.$error.$pristine" class="help-block"> *Last Name is required</p>
</div>

<!-- Passport Info -->
 <label class="item item-input item-stacked-label">

<span  class="input-label"> Passport 3 Letter Country Code :-</span>

<input type="text" pattern='[A-Za-z\\s]*' name="pass" class="form-control" placeholder="Please enter your Passport info here" ng-model="user.passport" required ng-maxlength="3" ng-minlength="3">
 </label>

 <div class="padding">

 <p ng-show="userForm.pass.$pristine" class="help-block"> Your Passport info is required</p>
   <p ng-show="userForm.pass.$error.maxlength" class="help-block"> A Passport entry must consist of 3 letters only </p>
      <p ng-show="userForm.pass.$error.minlength" class="help-block"> A Passport entry must consist of 3 letters only </p>

</div>




 <label class="item item-input item-stacked-label">


   <span  class="input-label"> Credit Card Type :-</span>

   <select name="card-type" class="ccjs-hidden-card-type" ng-model="user.ccType" required>
    <option value="amex" class="ccjs-amex">American Express</option>
    <option value="discover" class="ccjs-discover">Discover</option>
    <option value="mastercard" class="ccjs-mastercard">MasterCard</option>
    <option value="visa" class="ccjs-visa">Visa</option>
    <option value="diners-club" class="ccjs-diners-club">Diners Club</option>
    <option value="maestro" class="maestro">Maestro</option>
    <option value="unionpay" class="unionpay">UnionPay</option>
    <option value="visa-electron" class="visa-electron">Visa Electron</option>
  </select>



 </label>

<!-- Card Number -->
 <label class="item item-input item-stacked-label">

<span  class="input-label"> Credit Card Number :-</span>
  
  <input type="number" name="cnumber" class="form-control" placeholder="Please enter your credit card number here" ng-model="user.ccNumber" required ng-minlength="16" ng-maxlength="16">
  <p ng-show="userForm.cnumber.$pristine" class="help-block"> Credit Card Number is required</p>
  <p ng-show="userForm.cnumber.$error.minlength" class="help-block"> A credit card number must consist of 16 numbers</p>
  <p ng-show="userForm.cnumber.$error.maxlength" class="help-block"> A credit card number must consist of 16 numbers</p>



 </label>




</div>

</form>


    </ion-content>



</ion-view>