<ion-view title="Confirmation page" id="tab-confirmation">

 <ion-content padding="true" style="background: url(img/R3Pn0huTD6PIXTkbDbBt_swiss.jpg) no-repeat center;background-size:cover;" class="has-header">

 <div class="bar bar-header bar-assertive">

   <button class="button icon ion-navicon"></button>
      <h1  style="color:#000000"class="title">Confirm your details</h1>

   <button class="button icon ion-home"></button>
</div>

<button class="btn btn-primary" id='btnSearch' ng-disabled="user.button == 'true'" ng-click='EditInfo()'>
   Edit information
</button>





<button class="button icon icon-left ion-home" ng-model="button" ng-show="user.button == 'true'"id='btnFinish' ng-click='GoToMain()'>
   Back to home
</button>
 </ion-content>

</ion-view>