<link type="text/css" rel="stylesheet" href="/styles/materialize.min.css"  media="screen,projection"/>
<script type="text/javascript" src="js/materialize.min.js"></script>
<div class="row ">

  <div class="col-md-1"></div>

    <div class="col-md-10">
      <div class="jumbotron main-banner">

        <div class="page-header">
          <h1>Confirm Details</h1>
        </div>

            <div class="col-xs-12" style="height:20px;"></div>

            <div class="row">
              <div class="col-md-1"></div>

                <div class="col-md-10">
                    <!-- form -->
                    <div class="panel-body">
                        <label style="color : black" for="fname">Outgoing Flight:</label>

                        <table style="background-color: white " class="table table-bordered">
                            <thead style="background-color: #FF8080">
                                <tr>
                                  <th>Airline</th>
                                  <th>Flight Number</th>
                                  <th>Aircraft Type</th>
                                  <th>Aircraft Model</th>
                                  <th>Capacity</th>
                                  <th>Departure Date</th>
                                  <th>Duration</th>
                                  <th>Class</th>
                                  <th>Cost</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>
                                  {{flight.outFlight.Airline}}
                                </td>
                                <td>
                                  {{flight.outFlight.flightNumber}}
                                </td>
                                <td>
                                  {{flight.outFlight.aircraftType}}
                                </td>
                                <td>
                                  {{flight.outFlight.aircraftModel}}
                                </td>
                                <td>
                                  {{flight.outFlight.capacity}}
                                </td>
                                <td>
                                  {{flight.outFlight.departureDateTime | date : 'EEEE, MMMM d, y'}}
                                </td>
                                <td>
                                  {{flight.outFlight.duration}}
                                </td>
                                <td>
                                  {{flight.outFlight.class}}
                                </td>
                                <td>
                                  {{flight.outFlight.cost | currency}}
                                </td>
                            </tr>
                        </table>

                    </div>



                    <div ng-show="flight.tripType =='Round trip'">
                        <label style="color : black" for="fname">Return Flight:</label>

                        <table style="background-color: white " class="table table-bordered">
                            <thead style="background-color: #FF8080">
                              <tr>
                                <th>Airline</th>
                                <th>Flight Number</th>
                                <th>Aircraft Type</th>
                                <th>Aircraft Model</th>
                                <th>Capacity</th>
                                <th>Departure Date</th>
                                <th>Duration</th>
                                <th>Class</th>
                                <th>Cost</th>
                              </tr>
                            </thead>
                            <tr>
                              <td>
                                {{flight.inFlight.Airline}}
                              </td>
                              <td>
                                {{flight.inFlight.flightNumber}}
                              </td>
                              <td>
                                {{flight.inFlight.aircraftType}}
                              </td>
                              <td>
                                {{flight.inFlight.aircraftModel}}
                              </td>
                              <td>
                                {{flight.inFlight.capacity}}
                              </td>
                              <td>
                                {{flight.inFlight.departureDateTime | date : 'EEEE, MMMM d, y'}}
                              </td>
                              <td>
                                {{flight.inFlight.duration}}
                              </td>
                              <td>
                                {{flight.inFlight.class}}
                              </td>
                              <td>
                                {{flight.inFlight.cost | currency}}
                              </td>
                            </tr>
                        </table>

                    </div>
                  </div>

                    <div class="col-md-1"></div>

                    <div class="col-md-10">
                      <div class="form-group">
                        <label style="color : black" for="fname">Total Cost:</label>
                        <div class="row confirm">
                          <h5 class="confirm-text">{{totalCost | currency}}</h5>
                        </div>
                      </div>
                      <ul class="collapsible popout" data-collapsible="accordion">
                        <li ng-repeat="p in passengerDetails">
                          <div class="collapsible-header">Passenger Number {{$index +1}} Information</div>
                          <div class="collapsible-body">
                            <p>
                              <div class="container">

                                <div class="form-group">
                                  <label style="color : black" for="fname">First Name:</label>
                                  <div class="row confirm">
                                    <h5 class="confirm-text">{{p.firstName}}</h5>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label style="color : black" for="lname">Last Name:</label>
                                  <div class="row confirm">
                                    <h5 class="confirm-text">{{p.lastName}}</h5>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label style="color : black" for="dob">Date of Birth:</label>
                                  <div class="row confirm" id ="dob">
                                    <h5 class="confirm-text">{{p.dateOfBirth | date :'EEEE, MMMM d, y'}}</h5>
                                  </div>
                                </div>


                                <div class="form-group">
                                  <label style="color : black" for="psprt">Passport Number:</label>
                                  <div class="row confirm">
                                    <h5 class="confirm-text">{{p.passportNum}}</h5>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label style="color : black" for="psprt">Passport Expiry Date:</label>
                                  <div class="row confirm">
                                    <h5 class="confirm-text">{{p.passportExpiryDate | date :'EEEE, MMMM d, y'}}</h5>
                                  </div>
                                </div>





                                <div class="form-group">
                                  <label style="color : black" for="psprt">Email:</label>
                                  <div class="row confirm">
                                    <h5 class="confirm-text">{{p.email}}</h5>
                                  </div>
                                </div>


                                <div class="form-group">
                                  <label style="color : black" for="psprt">Nationality:</label>
                                  <div class="row confirm">
                                    <h5 class="confirm-text">{{p.nationality}}</h5>
                                  </div>
                                </div>

                              </div>
                            </p>
                          </div>
                        </li>
                      </ul>



                  </div>


                    <div class="col-xs-12" style="height:10px;"></div>

                    <div class="row">
                        <button type="button" class="btn btn-primary" id='btnSearch' ng-disabled="user.button == 'true'" ng-click='EditInfo()'>Edit Information</button>
                    </div>

                    <div class="col-xs-12" style="height:30px;"></div>


                    <form  action="#">
                      <p>
                        <input type="checkbox" id="checkbox1" ng-model="checked">
                        <label style="color : black" for="checkbox1">All of my information is correct.</label>
                      </p>
                      </form>
                    <br/>



                    <!-- <button ng-model="button" ng-disabled="checked">Button</button> -->
                    <div class="col-xs-12" style="height:25px;"></div>
                    <button style="margin-bottom: 30px;" ng-model="user.button" ng-click="showPaymentScreen()" class="btn btn-primary" id='btnSend' ng-disabled="!checked || user.button == 'true'">Pay</button>
                    <!-- <button type="button" class="btn btn-primary" id='btnSearch' disabled ng-click='SearchFlights()'>Send Tickets!</button> -->

                    <div class="alert alert-success fade in" ng-show="user.button == 'true'">
                        <!-- <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> -->
                        <strong>Success!</strong> Thank you for your purchase.
                        Your Outingoing Flight Booking Reference is <h2 style="color:red;">{{user.bookingRefOut}}</h2>
                        Your Incoming Flight Booking Reference is <h2 style="color:red;">{{user.bookingRefIn}}</h2>
                        and your ticket will be e-mailed to you shortly.
                    </div>
                    <div class="col-xs-12" style="height:15px;"></div>
                    <button ng-model="button" ng-show="user.button == 'true'" class="btn btn-primary" id='btnFinish' ng-click='GoToMain()'>Back to Home</button>

            </div>
        </div>
    </div>
    <div class="col-xs-12" style="height:50px;"></div>
</div>
