<form name="flightform" ng-submit='GoToPayment(flightDetails)' novalidate>
  <div class="row">
    <div class="jumbotron banner">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="clearfix"></div>
              </div>

              <div class="panel-body">
                <h2>Flights from {{outGoingflight.origin}} to {{outGoingflight.destination}}, on {{outGoingflight.date | date : 'EEEE, MMMM d, y'}}, Flying Class: {{outGoingflight.class}}</h2>
                <div class="col-xs-12" style="height:20px"></div>
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Airline</th>
                      <th>Flight Number</th>
                      <th>Aircraft Type</th>
                      <th>Aircraft Model</th>
                      <th>Capacity</th>
                      <th>Departure Date</th>
                      <th>Duration</th>
                      <th>Class</th>
                      <th>Cost</th>
                    </tr>
                  </thead>
                  <tr ng-repeat="f in outgoingFlightsArray">
                    <td>
                      <form action="#">
                        <p>
                          <input type="radio" id = "{{$index}}" class="form-control" name="outFlight" ng-model="flightDetails.outFlight" ng-value="f">
                          <label for="{{$index}}">{{$index}}</label>
                        </p>
                      </form>
                    </td>
                    <td>
                      {{f.Airline}}
                    </td>
                    <td>
                      {{f.flightNumber}}
                    </td>
                    <td>
                      {{f.aircraftType}}
                    </td>
                    <td>
                      {{f.aircraftModel}}
                    </td>
                    <td>
                      {{f.capacity}}
                    </td>
                    <td>
                      {{f.departureDateTime | date : 'EEEE, MMMM d, y'}}
                    </td>
                    <td>
                      {{f.duration}}
                    </td>
                    <td>
                      {{f.class}}
                    </td>
                    <td>
                      {{f.cost | currency}}
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-xs-12" style="height:50px"></div>




              <div class="panel-body">
                <div ng-show="flightDetails.tripType== 'Round trip'">
                  <h2>Flights from {{inComingflight.origin}} to {{inComingflight.destination}}, on {{inComingflight.date | date : 'EEEE, MMMM d, y'}}, Flying Class: {{inComingflight.class}}</h2>
                </div>
                <table class="table table-bordered table-hover" ng-show="flightDetails.tripType =='Round trip'">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Airline</th>
                      <th>Flight Number</th>
                      <th>Aircraft Type</th>
                      <th>Aircraft Model</th>
                      <th>Capacity</th>
                      <th>Departure Date</th>
                      <th>Duration</th>
                      <th>Cost</th>
                    </tr>
                  </thead>
                  <tr ng-repeat="f in incomingFlightsArray">
                    <td>
                      <input type="radio" class="form-control" name="inFlight" ng-model="flightDetails.inFlight" ng-value="f">
                    </td>
                    <td>
                      {{f.Airline}}
                    </td>
                    <td>
                      {{f.flightNumber}}
                    </td>
                    <td>
                      {{f.aircraftType}}
                    </td>
                    <td>
                      {{f.aircraftModel}}
                    </td>
                    <td>
                      {{f.capacity}}
                    </td>
                    <td>
                      {{f.departureDateTime | date : 'EEEE, MMMM d, y'}}
                    </td>
                    <td>
                      {{f.duration}}
                    </td>
                    <td>
                      {{f.cost | currency}}
                    </td>
                  </tr>
                </table>
              </div>

            </div>
          </div>
          <button type="submit" class="btn btn-primary" id='btnSearch'>Continue</button>
        </div>
      </div>
    </div>
  </div>
</form>
