<form name="flightform" ng-submit= 'GoToPayment(flightDetails)' novalidate>
<div class="row">
  <div class="jumbotron banner">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="clearfix"></div>
            </div>

            <div class="panel-body">
                Flights from {{flight.origin}} to {{flight.destination}}   {{flight. ingoingDate }}  

                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Flight Number</th>
                      <th>Aircraft</th>
                      <th>Capacity</th>
                      <th>Date</th>
                      <th>Duration</th>
                      <th>Available Seats</th>
                      <th>Price Range</th>
                    </tr>
                  </thead>
                    <tr ng-repeat="f in flights">
                        <td>
                          <input type="radio" class="form-control" name="outFlight" ng-model="flightDetails.outFlight" ng-value="f">
                        </td>
                        <td>
                            {{f.flightNumber}}
                        </td>
                        <td>
                           {{f.aircraft}}
                        </td>
                        <td>
                          {{f.capacity}}
                        </td>
                        <td>
                          {{f.date | date : 'EEEE, MMMM d, y'}}
                        </td>
                        <td>
                          {{f.duration}}
                        </td>
                        <td>
                          {{f.availableSeats}}
                        </td>
                        <td>
                          {{f.seatmap[0].cost | currency}} - {{f.seatmap[0].cost * 1.1 | currency}}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12" style="height:50px"></div>
          <div style="width:30%;margin:auto auto" ng-show="flightDetails.trip == 'round'">



            Flights from {{flight.destination}} to {{flight.origin}}





          <div class="panel-body">
              <table class="table table-bordered table-hover" ng-show="flightDetails.trip=='round'">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Flight Number</th>
                    <th>Aircraft</th>
                    <th>Capacity</th>
                    <th>Date</th>
                    <th>Duration</th>
                    <th>Available Seats</th>
                    <th>Price Range</th>
                  </tr>
                </thead>
                  <tr ng-repeat="f in flights">
                      <td>
                        <input type="radio" class="form-control" name="inFlight" ng-model="flightDetails.inFlight" ng-value="f">
                      </td>
                      <td>
                          {{f.flightNumber}}
                      </td>
                      <td>
                         {{f.aircraft}}
                      </td>
                      <td>
                        {{f.capacity}}
                      </td>
                      <td>
                        {{f.date | date : 'EEEE, MMMM d, y'}}
                      </td>
                      <td>
                        {{f.duration}}
                      </td>
                      <td>
                        {{f.availableSeats}}
                      </td>
                      <td>
                        {{f.seatmap[0].cost | currency}} - {{f.seatmap[0].cost * 1.1 | currency}}
                      </td>
                  </tr>
              </table>
          </div>
            <button type="submit" class="btn btn-primary" id='btnSearch'>Continue</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</form>

