<div class="row">
  <div class="jumbotron banner">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="clearfix"></div>
            </div>

            <div class="row">
              <div class="radio trip-option">
                <label><input type="radio" ng-model= "trip.type" ng-checked = "true" value ="one" >One Way Trip</label>
                <label><input type="radio" ng-model= "trip.type" value ="round">Round Trip</label>
              </div>
            </div>

            <div class="panel-body">
                Flights from {{flight.origin}} to {{flight.destination}}
                <table>
                    <tr  ng-repeat="f in flights">
                        <td>
                            {{f.number | json}}
                        </td>
                        <td>
                           {{f.aircraft}}
                        </td>
                        <td>
                          {{f.capacity}}
                        </td>
                        <td>
                          {{f.date | date : 'EEEE, MMMM d, y'}}
                        </td>
                        <td>
                          {{f.duration}}
                        </td>
                        <td>
                          {{f.availableSeats}}
                        </td>
                        <td>
                          {{f.seatmap[0].cost | currency}}
                        </td>
                    </tr>
                </table>
            </div>

            <div class="panel-body" ng-show = "trip.type == 'round'">
               Flights from {{flight.destination}} to {{flight.origin}}
            </div>
            <br/>
            <button type="button" class="btn btn-primary" id='btnSearch' ng-click='GoToPayment()'>Continue</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
