<!-- PROMOTIONAL OFFERS -->
  <div class="row">
   <div class="col-sm-6 col-md-4">
     <div class="thumbnail">
       <img src="..." alt="...">
       <div class="caption">
         <h3>Offer #1: Cairo - New York</h3>
         <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit</p>
         <p><a href="#" class="btn btn-primary" role="Book">Book</a></p>
       </div>
     </div>
   </div>

   <div class="col-sm-6 col-md-4">
     <div class="thumbnail">
       <img src="..." alt="...">
       <div class="caption">
         <h3>Offer #1: Frankfurt - Munich</h3>
         <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.Button</p>
         <p><a href="#" class="btn btn-primary" role="Book">Book</a></p>
       </div>
     </div>
   </div>

   <div class="col-sm-6 col-md-4">
     <div class="thumbnail">
       <img src="..." alt="...">
       <div class="caption">
         <h3>Offer #1: Miami - San Francisco</h3>
         <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.Button</p>
         <p><a href="#" class="btn btn-primary" role="Book">Book</a></p>
       </div>
     </div>
   </div>
  </div>
<!-- PROMOTIONAL OFFERS -->

<!-- MAIN BANNER -->

      <!-- <div class="container"> -->

        <div class="row ">
          <div class="col-md-4">

          </div>
          <div class="col-md-4">
            <div class="jumbotron main-banner">
                <h2>Book a Flight</h2>
                <div class="row">
                  <div class="radio trip-option">
                    <label><input type="radio" ng-model= "trip.type" value ="one" >One Way Trip</label>
                    <label><input type="radio" ng-model= "trip.type" value ="round">Round Trip</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-1">

                  </div>
                  <div class="col-md-10">


                <input name="originAirports"
                id="originAirports"
                type="text"
                placeholder="Flying From"
                ng-model="selectedOrigin"
                uib-typeahead="airport.iata for airport in Airports | filter:$viewValue | limitTo:10"
                class="form-control",
                typeahead-on-select="SetOriginAirport($item.iata)">

                <div class="col-xs-12" style="height:25px;"></div>


                <input name="destinationAirports"
                id="destinationAirports"
                type="text"
                placeholder="Flying To"
                ng-model="selectedDestination"
                uib-typeahead="airport.iata for airport in Airports | filter:$viewValue | limitTo:10"
                class="form-control",
                typeahead-on-select="SetDestinationAirport($item.iata)">

                <div class="col-xs-12" style="height:25px;"></div>

                    <p class="input-group">
                      <input type="text"
                             class="form-control"
                             placeholder="Outgoing flight date"
                             uib-datepicker-popup="{{format}}"
                             ng-model="dt"
                             is-open="popup1.opened"
                             ng-required="true"
                             close-text="Close"
                             alt-input-formats="altInputFormats" />
                      <span class="input-group-btn">
                        <button type="button"
                                class="btn btn-default"
                                ng-click="open1()">
                                <i class="glyphicon glyphicon-calendar"></i>
                       </button>
                      </span>
                    </p>

                    <div class="col-xs-12" style="height:8px;"></div>


                    <p class="input-group" ng-show="trip.type == 'round'">
                      <input type="text"
                             class="form-control"
                             placeholder="Incoming flight date"
                             uib-datepicker-popup
                             ng-model="dt"
                             is-open="popup2.opened"
                             ng-required="true"
                             close-text="Close" />
                      <span class="input-group-btn">
                        <button type="button"
                                class="btn btn-default"
                                ng-click="open2()">
                                <i class="glyphicon glyphicon-calendar"></i>
                       </button>
                      </span>
                    </p>



              <button type="button" class="btn btn-primary" id='btnSearch' ng-click='SearchFlights()'>Search Flights</button>
            </div>

              </div>


            </div>
          </div>
        </div>
      <!-- </div> -->
<div class="col-xs-12" style="height:50px;"></div>
<!-- MAIN BANNER -->
