<!-- index.html -->
<link type="text/css" rel="stylesheet" href="/styles/materialize.min.css" media="screen,projection" />
<script type="text/javascript" src="js/materialize.min.js"></script>
<!-- apply angular app and controller to our body -->
<div class="jumbotron main-banner">
  <div class="container">


    <div class="col-sm-8 col-sm-offset-2">

      <!-- PAGE HEADER -->
      <div class="page-header">
        <h2>Passengers' Personal Information</h2></div>

      <!-- FORM -->
      <!-- pass in the variable if our form is valid or invalid -->
      <script>
        $('.collapsible').collapsible();
      </script>

      <ul class="collapsible popout" data-collapsible="accordion">
        <li ng-repeat="p in passengerDetails">
          <div class="collapsible-header">Passenger Number {{$index +1}}</div>
          <div class="collapsible-body">
            <div style="background-color : rgba(255,255,255,1)">
              <p>
                <div class="container">
                  <form name="userForm" ng-submit="submitForm(userForm.$valid, user)" novalidate>
                    <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->


                    <!-- First Name -->
                    <div class="form-group">
                      <span class="asterisk_input">  </span>
                      <label style="color : black">First Name</label>
                      <input type="text" name="fname" class="form-control" placeholder="Please enter your First Name here" ng-model="p.firstName" required>
                      <!-- <p ng-show="userForm.fname.$pristine" class="help-block"> First Name is required</p> -->

                    </div>
                    <!-- Last Name -->
                    <div class="form-group">
                      <span class="asterisk_input">  </span>
                      <label style="color : black">Last Name</label>
                      <input type="text" name="lname" class="form-control" placeholder="Please enter your Last Name here" ng-model="p.lastName" required>
                      <!-- <p ng-show="userForm.lname.$pristine" class="help-block"> Last Name is required</p> -->
                    </div>

                    <span class="asterisk_input">  </span>
                    <div>
                      <label style="color : black"> Date Of Birth </label>
                      <p class="input-group">
                        <input type="text" required class="form-control" placeholder="Date of Birth" uib-datepicker-popup="{{format}}" ng-model="p.dateOfBirth" is-open="popup4.opened" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
    <button type="button"
            class="btn btn-default"
            ng-click="open4()">
            <i class="glyphicon glyphicon-calendar"></i>
   </button>
  </span>
                      </p>
                      <p ng-show="userForm.dob.$pristine" class="help-block"> Date of Birth is required</p>
                    </div>

                    <!-- Passport Info -->
                    <div class="form-group">
                      <span class="asterisk_input">  </span>
                      <label style="color : black">Passport Number</label>
                      <input type="number" ng-minlength="9" ng-maxlength="9" name="pass" class="form-control" placeholder="Please enter your Passport info here" ng-model="p.passportNum" required ng-maxlength="3" ng-minlength="3">
                      <!-- <p ng-show="userForm.pass.$pristine" class="help-block"> Your Passport info is required</p> -->
                      <!-- <p ng-show="userForm.pass.$error.maxlength" class="help-block"> A Passport entry must consist of 3 letters only </p>
      <p ng-show="userForm.pass.$error.minlength" class="help-block"> A Passport entry must consist of 3 letters only </p> -->

                    </div>


                    <!-- Passport Expiry Date -->
                    <div class="col-xs-12" style="height:20px;"></div>
                    <span class="asterisk_input">  </span>
                    <label style="color : black"> Passport Expiry Date </label>
                    <p class="input-group">
                      <input type="text" required class="form-control" placeholder="Passport Expiry Date" uib-datepicker-popup="{{format}}" ng-model="p.passportExpiryDate" is-open="popup2.opened" close-text="Close" alt-input-formats="altInputFormats" />
                      <span class="input-group-btn">
    <button type="button"
            class="btn btn-default"
            ng-click="open2()">
            <i class="glyphicon glyphicon-calendar"></i>
   </button>
  </span>
                    </p>

                    <div class="col-xs-12" style="height:20px;"></div>




                    <div class="col-xs-12" style="height:20px;"></div>

                    <!-- EMAIL -->
                    <div class="form-group">
                      <span class="asterisk_input">  </span>
                      <label style="color : black">Email</label>

                      <input type="email" name="email" class="form-control" placeholder="example@example.com" ng-model="p.email" required>
                      <!-- <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block"> Please enter a valid email.</p> -->
                    </div>

                    <div class="col-xs-12" style="height:20px;"></div>

                    <!-- Country Selection-->
                    <p><span class="asterisk_input">  </span>

                      <label style="color : black">Nationality</label>
                      <input type="text" class="form-control" placeholder="Country" ng-model="p.nationality" required>



                      <div class="col-xs-12" style="height:20px;"></div>

                  </form>
                </div>
                </p>


                <!-- SUBMIT BUTTON -->

            </div>
        </li>
      </ul>
      </div>
      <!-- </div>
</div>
</div>
</div>
</div> -->
    </div>
    <!-- col-sm-8 -->
    <!-- SUBMIT BUTTON -->
    <!-- ng-disabled="userForm.$invalid" -->
    <button type="submit" class="btn btn-primary" ng-click="submitForm(userForm.$valid, passengerDetails)">Proceed To Confirm Your Payment</button>
  </div>
  <div class="col-xs-12" style="height:50px;"></div>
</div>
<!-- /container -->
